[submodule "mux"]
	path = mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/ghodss/yaml"]
	path = vendor/github.com/ghodss/yaml
	url = https://github.com/ghodss/yaml
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/op/go-logging"]
	path = vendor/github.com/op/go-logging
	url = https://github.com/op/go-logging
[submodule "vendor/github.com/gorilla/sessions"]
	path = vendor/github.com/gorilla/sessions
	url = https://github.com/gorilla/sessions
[submodule "vendor/github.com/gorilla/securecookie"]
	path = vendor/github.com/gorilla/securecookie
	url = https://github.com/gorilla/securecookie
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "vendor/github.com/michaeljs1990/sqlitestore"]
	path = vendor/github.com/michaeljs1990/sqlitestore
	url = https://github.com/michaeljs1990/sqlitestore
