	<div class="border-top my-md-5"><!-- mt-auto -->
		<footer class="container pt-4">
			<div class="row">
				<div class="col-12 col-md">
					<img class="mb-2" src="{{ config.extra.icon }}" alt="{{ config.extra.icon_alt_text }}" width="24" height="24" />
					<p class="text-muted" style="font-size: 12px; line-height: 17px;">© 2019 vPlan2<br/>Justin Trommler, Richard Heidenreich,<br/>Ringo Hoffmann<br/>Covered by MIT Licence.</p>
				</div>
				<div class="col-6 col-md">
					<h5>Dokumentation</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="{{ get_url(path="docs/api") | safe }}">API-Schnittstelle</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/backend") | safe }}">Backend</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/frontend") | safe }}">Frontend</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/documentation") | safe }}">Dokumentation</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/presentation") | safe }}">Präsentation</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/corparate_design") | safe }}">Corporate design</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Resources</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Sitemap</a></li>
						<li><a class="text-muted" href="#">NewsFeed</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Impresssum</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="{{ get_url(path="docs/impress/contact") | safe }}">Kontakt</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/impress/team") | safe }}">Team</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/impress/gdpr") | safe }}">Datenschutz</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/impress/terms") | safe }}">Richtlinien</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>