	<div class="container">
		<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="row">
				<div class="col-12 col-md">
					<img class="mb-2" src="http://mosscap.bplaced.net/projects/assets/images/icons/Warning.svg" alt="" width="24" height="24">
					<small class="d-block mb-3 text-muted">&copy; 2019</small>
				</div>
				<div class="col-6 col-md">
					<h5>Dokumentation</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="{{ get_url(path="docs/api") | safe }}">API-Schnittstelle</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/backend") | safe }}">Backend</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/frontend") | safe }}">Frontend</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/documentation") | safe }}">Dokumentation</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/presentation") | safe }}">Präsentation</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/corparate_design") | safe }}">Corporate design</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Resources</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Sitemap</a></li>
						<li><a class="text-muted" href="#">NewsFeed</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Impresssum</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="{{ get_url(path="docs/impress/contact") | safe }}">Kontakt</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/impress/team") | safe }}">Team</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/impress/gdpr") | safe }}">Datenschutz</a></li>
						<li><a class="text-muted" href="{{ get_url(path="docs/impress/terms") | safe }}">Richtlinien</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>