{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}
{% block title %}{{ page.title }}{% endblock title %}
{% block content %}
	<main class="container text-center">
		<form class="form-signin" id="login" method="POST" action="{{ get_url(path="api/logout") | safe }}">
			<img class="mb-4" src="{{ config.extra.icon }}" alt="" width="72" height="72" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Abmelden</button>
			<p class="mt-5 mb-3 text-muted">© 2019</p>
		</form>
	</main>
	<script type="application/javascript">
var form = _("login");
form.onsubmit = function (e) {
	// stop the regular form submission
	e.preventDefault();

	// collect the form data while iterating over the inputs
	var data = {};
	for (var i = 0, ii = form.length; i < ii; ++i) {
		var input = form[i];
		if (input.name) {
			data[input.name] = input.value;
		}
	}

	console.log(JSON.stringify(data));

	getJson(form.method, {% if config.extra.api_use_test_data %} '{{ get_url(path="logout-test.json") | safe }}' {% else %} form.action {% endif %}, JSON.stringify(data), function() {
		window.location = '/';
	});
};
	</script>
{% endblock content %}
{% block contentscript %}
{% endblock contentscript %}
