{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}
{% block title %}{{ page.title }}{% endblock title %}
{% block links %}
	<link type="text/css" rel="stylesheet" href="{{ get_url(path="vplan.css") | safe }}"/>
{% endblock links %}
{% block content %}
{% include "navigation.html" %}
	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">vPlan</h1>
		<p class="lead">Vertretungsplan 2.0</p>
	</div>
<article class="container" itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 class="mb-3" itemprop="headline">{{ page.title }}</h1>
		<span class="muted">{{ post_macros::meta(page=page) }}</span>
	</header>
	<div itemprop="articleBody">
		{{ page.content | safe }}
	</div>
	<footer>
		<p>
			{% if config.extra.author %}Published by {{ config.extra.author }}{% endif %}
		<!--
			{% if page.taxonomies.categories %}
				{% set category = page.taxonomies.categories[0] %}
				in <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
			{% endif %}
			{% if page.taxonomies.tags %}
				and tagged
				{% for tag in page.taxonomies.tags %}
					<a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
					{% if page.taxonomies.tags | length > 1 %}
						{% if loop.index != page.taxonomies.tags | length %}
							{% if loop.index == page.taxonomies.tags | length - 1 %}
								and
							{% else %}
								,
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		-->
		</p>
	</footer>
</article>
{% include "footer.html" %}
{% endblock content %}