{% extends "blog.html" %}
{% import "post_macros.html" as post_macros %}
{% block title %}{{ page.title }}{% endblock title %}
{% block style %}
	<style type="text/css">
main {
	margin: 1.25rem /* 2vh 2vw */;
}
header {
	margin-bottom: 3vh;
	min-height: 20vh;
	background-image: url({{ get_url(path="media/head_new.jpg") | safe }});
	background-size: cover;
	color: aliceblue;
	font-weight: bold;
}
header > div {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1em 1em 2em;
}
	</style>
{% endblock style %}
{% block content %}
	<main class="" itemscope itemtype="http://schema.org/BlogPosting">
		<header class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center rounded-lg">
			<div>
				<h1 itemprop="headline">{{ page.title }}</h1>
				<span class="muted">{{ post_macros::meta(page=page) }}</span>
			</div>
		</header>
		<div itemprop="articleBody">
		{{ page.content | safe }}
		</div>
		<footer>{% if page.author %}
			<p class="muted">Published by {{ page.author }}</p>{% endif %}
		</footer>
	</main>
{% endblock content %}
{% block contentscript %}
	<script type="application/javascript">
getDataForVplan('GET', {% if config.extra.api_use_test_data %} '{{ get_url(path="vplan-test.json") | safe }}' {% else %} '{{ get_url(path="api/vplan") | safe }}' {% endif %}, '');
getDataForNews('GET', {% if config.extra.api_use_test_data %} '{{ get_url(path="newsticker-test.json") | safe }}' {% else %} '{{ get_url(path="api/newsticker") | safe }}' {% endif %}, '');
	</script>
{% endblock contentscript %}
